*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header{
    /*background-color: aqua;*/
    height: 114px;
    padding: 12px 120px 12px 108px;
    border-bottom: 1px solid #DDD;
}

.header-content{
    /*background-color: yellow;*/
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img-logo{
    width: 88px;
    /*height: 90px;*/
    margin-right: 40px;
}

#img-anct{
    width: 164px;
    /*height: 60px;*/
    margin-right: 40px;
}

#img-mini-logo{
    display: none;
    width: 33px;
    height: 12px;
    margin-right: 16px;
}

.header-content h1{
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #161616;
}

#img-burger-menu{
    display: none;
    width: 24px;
    height: 24px;
}

nav{
    /*background-color: greenyellow;*/
    height: 56px;
    box-shadow: 0px 4px 12px 0 rgba(0, 0, 18, 0.16);
}

nav ul{
    list-style: none;  /*enlever les bullet points, mettre le style par defaut à 0*/
    display: flex;
    margin: 0;
    padding: 0 0 0 108px;
    height: 100%;
}

nav ul li{
    padding: 16px;
    font-size: 14px;
    line-height: 1.5em;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li:hover{
    color: #000091;
    border-bottom: 2px solid #000091;
}

main{
    /*background-color: red;*/
    flex: 1;
}

@media screen and (max-width: 715px) {
    header{
        height: 48px;
        padding: 0 16px;
    }

    .header-content{
        height: 48px;
    }

    #img-logo, #img-anct{
        display: none;
    }

    #img-mini-logo{
        display: inline;
    }

    #img-burger-menu{
        display: inline;
    }

    nav {
        display : none;
    }

   
}
