*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header{
    /*background-color: aqua;*/
    height: 114px;
    padding: 12px 120px 12px 108px;
    border-bottom: 1px solid #DDD;
}

.header-content{
    /*background-color: yellow;*/
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img-logo{
    width: 88px;
    /*height: 90px;*/
    margin-right: 40px;
}

#img-anct{
    width: 164px;
    /*height: 60px;*/
    margin-right: 40px;
}

#img-mini-logo{
    display: none;
    width: 33px;
    height: 12px;
    margin-right: 16px;
}

.header-content h1{
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #161616;
}

#img-burger-menu{
    display: none;
    width: 24px;
    height: 24px;
}

nav{
    /*background-color: greenyellow;*/
    height: 56px;
    box-shadow: 0px 4px 12px 0 rgba(0, 0, 18, 0.16);
}

nav ul{
    list-style: none;  /*enlever les bullet points, mettre le style par defaut à 0*/
    display: flex;
    margin: 0;
    padding: 0 0 0 108px;
    height: 100%;
}

nav ul li{
    padding: 16px;
    font-size: 14px;
    line-height: 1.5em;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li:hover{
    color: #000091;
    border-bottom: 2px solid #000091;
}

main{
    flex: 1;
}

#form-wrapper{
    background-color: #F2F2F2; /*f6*/
    width: 588px;
    margin: 56px auto;
    padding: 56px calc((588px - 384px)/2);
}

h2{
    color: #161616;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 32px;
}

form{
    display: flex;
    flex-direction: column;
}

.form-control{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.form-control label{
    color: #161616;
    font-size: 16px;
    line-height: 24px;
}

.form-control span{
    color: #666;
    font-size: 12px;
    line-height: 20px;
}

.form-control input{
    padding: 8px 0 0 16px;
    line-height: 25px;
    background-color: silver;
    border: none;
    border-bottom: 2px solid #3A3A3A;
    border-radius: 4px 4px 0 0;
}

a{
    color: #000091;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    margin-bottom: 24px;
}

input[type="submit"]{
    background-color: #000091;
    color: #F5F5FE;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    cursor: pointer;
}

/*Vesrion mobile/tablette avec un ecran taille ayant moins de 715px*/
@media screen and (max-width: 500px) {
    header{
        height: 48px;
        padding: 0 16px;
    }

    .header-content{
        height: 48px;
    }

    #img-logo, #img-anct{
        display: none;
    }

    #img-mini-logo{
        display: inline;
    }

    #img-burger-menu{
        display: inline;
    }

    nav{
        display: none;
        height: initial;
        position: absolute;
        top: 48px;
        right: 0;
    }

    nav ul{
        flex-direction: column;
        padding: 0;
    }

    nav ul li{
        font-size: 12px;
        padding: 6px;
    }

    #form-wrapper{
        width: 100%;
        margin: 32px auto;
        padding: 40px 16px;
    }
}
